.res{
    // display:flex;
    background-color: beige;
    margin: 0 300px;
    &__list{
      h1{
        width:398px;
        font-family:PlayfairDisplay-Regular;
      }
    }
    &__card{
      width:100px;

    }

    &__iframe{
      padding-top: 80px;
    }
  }