
.header-container {

    height: 55px;
    background-color: #292e34;

}



.title {
  width: 568px;
  height: 52px;
  font-family: Montserrat;
  font-size: 42px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
 
  margin-left: 163px;
  
}