



// .background {

//   background-color: #2d333f;

// }


body {
    background-image: url('../component/images/image.png');
    background-position: center;
    background-size: cover;
}

.form {
    width: 825px;
    height: 88px;
    // opacity: 0.63;
    border: solid 0.8px #ffc734;
   
    margin-left: 163px;
    padding: 20px 19px 5px 16px;
    background-color: white;
  }



.main-wrapper {
    display: flex;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.input {
    width: 495px;
  height: 55px;
  border: solid 1px #979797;
  background-color:white;
}


.label {
  width: 147px;
  height: 15px;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 200;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.39px;
  color: black;
}


.button {
    width: 235px;
  height: 55px;
  border: solid 1px #979797;
  background-color: #d8d8d8;
  margin-top: 15px;
  margin-left: 80px;

  
  font-family: Montserrat;
  font-size: 17px;
  font-weight: 200;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  
  color: white;
  background-color: #b8212d;
  
}


h2 {
    color: black;
    margin: 0;
    padding-top: 116px;
    padding-bottom: 50px;
    padding-left: 163px;
    font-family: PlayfairDisplay;
}


.search-result {
    margin-left: 163px;
}

.finery {
    width: 144px;
  height: 52px;
  background-color: white;
  font-family: PlayfairDisplay;
  font-size: 38.4px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #b8212d;
  margin-left: 50px;
}